In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
import math

In [2]:
dataset = pd.read_csv('ionosphere.csv')
df = dataset.values

In [15]:
dataset.head(70)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A26,A27,A28,A29,A30,A31,A32,A33,A34,A35
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,0,0.84783,0.10598,1.00000,0.39130,1.00000,-1.00000,0.66938,0.08424,...,-0.33333,1.00000,0.15942,0.37681,-0.01947,1.00000,0.22464,1.00000,0.37409,0
66,1,0,1.00000,0.28046,1.00000,0.02477,1.00000,0.07764,1.00000,0.04317,...,-0.39056,0.96414,-0.02174,0.86747,0.23360,0.94578,-0.22021,0.80355,-0.07329,1
67,0,0,1.00000,-1.00000,1.00000,-1.00000,1.00000,-1.00000,1.00000,-1.00000,...,-1.00000,1.00000,-1.00000,1.00000,0.65625,0.00000,0.00000,1.00000,-1.00000,0
68,1,0,1.00000,0.67784,0.81309,0.82021,0.43019,1.00000,0.20619,0.80541,...,-1.00000,0.41778,-0.93296,0.25773,-1.00000,0.93570,-0.35222,0.98816,0.03446,1
69,1,0,1.00000,1.00000,1.00000,-1.00000,1.00000,-1.00000,1.00000,1.00000,...,1.00000,1.00000,0.50000,0.00000,0.00000,1.00000,-1.00000,1.00000,-1.00000,0

In [4]:
without_class_level = dataset.drop(['A35'],axis=1)

In [5]:
class_level = df[:,34]

In [6]:
count1 =0;
count2=0;
for i in class_level:
    if i=='g':
        count1+= 1;
    else:
        count2 +=1;
print(count1,count2)

225 126

In [7]:
encoder = LabelEncoder()
encoder.fit(class_level)
encoded_Y = encoder.transform(class_level)

In [8]:
dataset['A35'] = encoded_Y

In [9]:
count1 =0;
count2=0;
for i in encoded_Y:
    if i==0:
        count1+= 1;
    else:
        count2 +=1;
print(count1,count2)

126 225

In [ ]:
features = dataset[:0]

In [ ]:
data=[]
for i in range(351):
    lst = [];
    lst.append(dataset['A1'][i]);
    lst.append(dataset['A2'][i]);
    lst.append(dataset['A3'][i]);
    lst.append(dataset['A4'][i]);
    lst.append(dataset['A5'][i]);
    lst.append(dataset['A6'][i]);
    lst.append(dataset['A7'][i]);
    lst.append(dataset['A8'][i]);
    lst.append(dataset['A9'][i]);
    lst.append(dataset['A10'][i]);
    lst.append(dataset['A11'][i]);
    lst.append(dataset['A12'][i]);
    lst.append(dataset['A13'][i]);
    lst.append(dataset['A14'][i]);
    lst.append(dataset['A15'][i]);
    lst.append(dataset['A16'][i]);
    lst.append(dataset['A17'][i]);
    lst.append(dataset['A18'][i]);
    lst.append(dataset['A19'][i]);
    lst.append(dataset['A20'][i]);
    lst.append(dataset['A21'][i]);
    lst.append(dataset['A22'][i]);
    lst.append(dataset['A23'][i]);
    lst.append(dataset['A24'][i]);
    lst.append(dataset['A25'][i]);
    lst.append(dataset['A26'][i]);
    lst.append(dataset['A27'][i]);
    lst.append(dataset['A28'][i]);
    lst.append(dataset['A29'][i]);
    lst.append(dataset['A30'][i]);
    lst.append(dataset['A31'][i]);
    lst.append(dataset['A32'][i]);
    lst.append(dataset['A33'][i]);
    lst.append(dataset['A34'][i]);
    lst.append(dataset['A35'][i]);
    data.append(lst);
print(data);

In [ ]:
import random
random.seed(1)

one  = random.randint(0, 351)
two = random.randint(0, 351)

print(one)
print(two)

In [ ]:
print(len(data))

In [ ]:
c1 = []
c2 = []

c1 = data[one]
print(c1)

c2 = data[two]
print(c2)

In [ ]:
def dis(source, dst):
    sum = 0
    for i in range(7):
        x = source[i] - dst[i];
        x = x*x    
        sum += x
    return math.sqrt(sum)

In [ ]:
def update(c):
    up = []
    
    for i in range(7):
        sum = 0
        for j in range(len(c)):
            sum += c[j][i]
        up.append(sum/len(c))
    return up

In [ ]:
cl1 = []
cl2 = []
for i in range(15):
    cl1 = []
    cl2 = []
    for j in range(351):
        d1 = dis(c1, data[j])
        d2 = dis(c2, data[j])
        m = min(d1,d2)
        if (m==d1):
            cl1.append(data[j])
        elif (m==d2):
            cl2.append(data[j])     
    c1 = update(cl1)
    c2 = update(cl2)
    
print(c1)
print(c2)

In [ ]:
cn1 = 0
cn2 = 0
for i in range(len(cl1)):
    if(cl1[i][34]==0):
        cn1+=1
    elif(cl1[i][34]==1):
        cn2+=1      
        
print(cn1)
print(cn2)
m1 = max(cn1,cn2)
#print(len(cl1))

In [ ]:
cn11 = 0
cn22 = 0

for i in range(len(cl2)):
    if(cl2[i][34]==0):
        cn11+=1
    elif(cl2[i][34]==1):
        cn22+=1      
print(cn11)
print(cn22)
m2 = max(cn11,cn22)
#print(len(cl2))

In [ ]:
print("Bad  : " + str(cn1) +" "+str(cn11))
print("Good : " + str(cn2)+" "+ str(cn22))

In [ ]:
m = (m1+m2)/351
print(m*100)